
  /*background-image: url("/Users/Noorulain/SecretAgentSupply/resources/images/moto.jpeg");*/
html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: white;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* MAIN LOGO*/

.company {
  border: 1px solid white;
  height: 2.5rem;
  background-color: black;
}

.container img {
  height: 1.5rem;
  padding-top: .27em;
}

.company span {
  display: inline-block;
  padding: 0.66rem 0 0.66rem 1rem;
}

/* INTRO */

.intro {
  border: 1px solid white;
  background:  url("/Users/Noorulain/SecretAgentSupply/resources/images/moto.jpeg") no-repeat center;
  height: 25rem;
}

.container .intro-content h4 {
  font-size: 1rem;
}

.container .intro-content h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}

.intro-content {
  width: 20rem;
  background-color: black;
  margin-top: 9em;
  position: relative;
  padding: 2em 3em;
}

/* Navigation */

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em 0px;
    list-style: none;
}
nav {
  background-color: firebrick;
}

/* Products */

.products, .business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0px 0px;
}

.product-image {
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding: 2em 0px;
}

.product-image img {
    max-width: 8em;
}

.product {
  width: 30%;
}

.description {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5em;
}
