html, body {
  font-size: 16px;
  color: white;
  font-family: helvetica, sans-serif;
  max-width: 1200px;
  background-color: black;
  display: block;
}

/* Header */

.flex-container {
  display: flex;
  align-items: center;
  width: 960px;
  margin: 0 auto;
}

#logo {
  padding: 15px 0 15px 0;
  border: 1px solid white;
}

.logo-image {
  width: 25px;
  height: 20px;
}

#logo span {
  margin: 10px;
}
